$primary: #181931;
$everything-container-primary: #181931e5;
$secondary: #f5f5f7; 
$primary-opacity: #181931e1;
$primary-opacity-2nd-layer: #18193146;
$primary-box-shad: 0px 2px 6px rgba(0,0,0,.4);
$primary-bord-rad: 10px;
$primary-margin-header: 0 24px 12px 24px;