<p>top-headlines works!</p>
<div class="topHeadlineMenu">
    <h1>Top Headlines</h1>
    <div>
        <div class="chip-container">
            <a class="chip" routerLink="/top-headlines/general" routerLinkActive="activeRoute">general</a>
            <a class="chip" routerLink="/top-headlines/business" routerLinkActive="activeRoute">business</a>
            <a class="chip" routerLink="/top-headlines/health" routerLinkActive="activeRoute">health</a>
            <a class="chip" routerLink="/top-headlines/science" routerLinkActive="activeRoute">science</a>
            <a class="chip" routerLink="/top-headlines/sports" routerLinkActive="activeRoute">sports</a>
            <a class="chip" routerLink="/top-headlines/technology" routerLinkActive="activeRoute">technology</a>
            <a class="chip" routerLink="/top-headlines/entertainment" routerLinkActive="activeRoute">entertainment</a>
        </div>
    </div>
</div>