@import '../../styles/base';

.topHeadlineMenu {
    color: $primary-opacity;
    background-color: $secondary;
    box-shadow: $primary-boxshadow;
    padding: 16px;
    margin: $primary-margin-header;
    border-radius: 10px;
    
    h1 { font-size: 26px; }
    .chip-container {
        
        .chip {
            display: inline-block;
            height: 20px;
            color: black;
            text-decoration: none;
            padding: 4px;
            margin-right: 10px;

            background-color: $secondary;
            // border: $primary-border;
            box-shadow: $primary-boxshadow;
            border-radius: 20px;
            transition: background-color 0.5s, box-shadow 0.2s;
        }
        .chip:hover { background-color: $primary; box-shadow: $primary-boxshadow; color: $secondary;}
        .activeRoute { font-weight: 500; background-color: black; color: white; border-radius:6px; box-shadow: 0 0 12px $primary;}
        .activeRoute:hover {background-color: $secondary; color: black; box-shadow: 0 0 10px $primary;}
    }
}

.articleBox {
    height: calc(100vh - 220px);
    overflow-y: scroll;
    border: 2px solid orange;
}




@media only screen and (max-width: 860px) {
    .topHeadlineMenu {
        .chip-container {
            display: flex;
            flex-wrap:wrap;

            .chip {
                margin-right: 5px;
            }
        }
    }
}
@media only screen and (max-width: 286px) {
    .topHeadlineMenu {
        .chip-container {
            .chip {
                margin-right: 0px;
            }
        }
    }
}