@import './styles/base';

//SIDE-NAV-STYLE-----------------------------------------------------------
#main-header {
    height: 35px;
}

.app-container-with-sidenav {
    width: 100%;
    height: 100vh;
}

.sidenav {
    max-width: 250px;
    width: 250px;
    background-color: $primary;
    border: none;
    border-radius: 0px 20px 20px 0px;
}

.toggle-sidenav {
    display: none;

    color: black;
    background-color: #ffffff00;
    font-size: 25px;
    font-weight: bolder;
    border: none;
}










//MEDIA-QUERY--------------------------------------------------------------
@media screen and (max-width: 800px) {
    .sidenav {
        max-width: 220px;
        width: 220px;
    }
    .toggle-sidenav {
        display: inline-block;
    }
}