@import '../../styles/base';

.articleContainer {
    margin: $primary-margin-header;
    position: relative;
    border: 1px solid #eeeeee;
    height: 150px;

    .container1 {
        display: flex; //flex
        height: 150px;
        background-color: white;
        position: absolute;
    
        img {
            height: 150px;
            width: 100px;
            object-fit: cover;
        }
        .title {
            max-height: 100px;
            padding: 0px;
            font-size: 15px;
            overflow: scroll;
            font-weight: bold;
        }
        .author {
            font-size: 12px;
            font-style: italic;
            position: relative;
            bottom: 20px;
        }
        .text-container {
            margin: 8px;
        }
    }
    .setOpacity { opacity: 0.5; }


    .container2 {
        display: block;
        height: 150px;
        width: 100%;
        position: absolute;
        overflow: hidden;

        background-image: url('../../../assets/newsPaper.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    
        img {
            position: absolute;
            object-fit: cover;
            width: 100%
        }
        .description-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            height: 130px;
            margin: 10px;
            text-align: center;
            background-color: white;
        }
        .description-title { font-size: 12px; font-style: italic; text-decoration: underline;}
        .description {
            line-height: 14px;
        }
    
    }


    .articleBtn {
        position: absolute;
        top: 130px;
        right: 10px;
    }
}


// @media only screen and (max-width: 0px) {
//     .articleContainer {
//         .title {
//             font-size: 15px;
//         }
//     }
//   }