<div class="centerLogin">

    <div *ngIf="fb.isLoggedIn === false" class="signinContainer">
        <span class="title"><div class="signInTitle">ION &nbsp;<i class="far fa-newspaper"></i></div><div class='subtitle'>Integrated Online News</div></span>
        <img class="googleLogo" src="../../../assets/google-logo.png" alt="Google logo">
        <span class="signinPrompt">Sign-in with Google</span>
        <button class="signinBtn" mat-raised-button color="primary" (click)="signIn()">Sign In</button>
    </div>

    <div *ngIf="fb.isLoggedIn === true" class="signedInContainer">
        <span class="loggedInTitle"><div class="loggedInSubtitle">ION &nbsp;<i class="far fa-newspaper"></i></div><div class='subtitle'>Integrated Online News</div></span>
        <div class="notLoggedIcon"><i class="fas fa-atom"></i><br><span class="iconSubtitle">Your Mind. Energized.</span></div>
        <h1 class="loggedInMessage">
            Welcome,
            <br>
            <span class="ifExtraLongName" *ngIf="afAuth.authState | async as user"><strong><i>{{user.displayName}}</i></strong></span>
        </h1>
    </div>

</div>
<!-- <button (click)="test()">test</button> -->