<div>
    <h1>Likes</h1>
</div>
<div class="likes-container">
    <mat-tab-group mat-stretch-tabs>
        <mat-tab label="User Likes">
            <div class="articleBox">
                <app-article-teaser *ngFor="let src of userData" [data]="src" [userLikes]="userData" [allLikes]="false"></app-article-teaser>
            </div>

        </mat-tab>
        <mat-tab label="All Likes">
            <div class="articleBox">
                <app-article-teaser *ngFor="let src of allLikes" [data]="src" [userLikes]="userData" [allLikes]="true"></app-article-teaser>
            </div>


        </mat-tab>
    </mat-tab-group>
</div>