@import '../../styles/base';


h1 {
    font-size: 26px;
    position: relative;
    margin: $primary-margin-header;
    color: $primary;
    background-color: $secondary;
    border-radius: $primary-bord-rad;
    padding: 16px;
    border: $primary-border;
    box-shadow: $primary-boxshadow;
}
.likes-container {
    margin: $primary-margin-header;
    background-color: $secondary;
    border-radius: $primary-bord-rad;
    padding: 8px;
    border: $primary-border;
    box-shadow: $primary-boxshadow;
}

/* This changes the padding of the container to keep it from butting up against the edge */
.mat-tab-group {
    height: calc(100vh - 145px);
    padding: 0px;
    width: auto;
}

.articleBox {
    height: calc(100vh - 220px);
    overflow-y: scroll;
    border: 2px solid orange;
}