@import '../../styles/base';

h1 {
    color: $primary-opacity;
    font-size: 26px;
    position: relative;
}

.formfield {
    display: inline-block;
}

.formfield select {
    background-color: $secondary;
    color: $primary-opacity;
    border: none;
    cursor: pointer;
}

input {
    padding: 6px 20px;
    background-color: $secondary;
    border: none;
    font-size: 20px;
    cursor: pointer;
    width: 120px;
    box-shadow: $primary-box-shad;
    border-radius: 5px;
    height: 30px;
    margin-right: 12px;
    margin-bottom: 12px;
    color: $primary-opacity;
}
::placeholder {
    color: rgb(122, 122, 122);
    background-color: $secondary;
}

.box {
    // background-color: $secondary;
    border: $primary-border;
    box-shadow: $primary-boxshadow;
    width: auto;
    border-radius: $primary-bord-rad;
    padding: 16px;
    margin: $primary-margin-header;
}

.row {
    color: $secondary;
    padding-right: 12px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;// 
    align-items: center;
    
}

fieldset {
    flex-grow: 2;
    border: 2px green solid;
}

input:focus {
    outline: none;
    color: $primary;
    background-color: $secondary;
}

select {
    font-size: 20px;
    padding: 9px 10px 9px 20px;
    box-shadow: $primary-box-shad;
    margin-right: 12px;
    border-radius: 5px;
}

option {
    color: $primary
}

.customize-button {
    border-radius: 50%;
    border-style: hidden;
    border-color: none;
    margin: 10px 0;
    padding: 14px;
    background-color: $secondary;
    color: $primary-opacity;
    box-shadow: $primary-box-shad;
    margin-left: 7px;
    cursor: pointer;
}

select:focus {
    outline: none;
}

::ng-deep option {
    color: $primary-opacity;
}

.search-button {
    background-color: $primary-opacity;
}

.search-icon {
    color: $secondary;
}

::ng-deep .mat-form-field-infix {
    // border: 3px dotted rgb(241, 149, 241);
    color: $secondary;
}

::ng-deep .mat-form-field-legacy {
    color: $primary;
}

.articleBox {
    height: calc(100vh - 195px);
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0px 24px 0px;
}


.firstCollapse {
    display: inline;
}
.secondCollapse {
    display: inline;
}

@media screen and (max-width: 723px) {
    .firstCollapse { display: block; }
    .articleBox { height: calc(100vh - 249px); }
}

@media screen and (max-width: 550px) {
    .secondCollapse { display: block; }
    .articleBox { height: calc(100vh - 291px); }
}