<mat-toolbar class="everything-toolbar">

    <mat-toolbar-row class="page-title-for-everything-page">
        <span>Everything</span>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <div class="toolbar-row-2">
            <form class="everything-form">
                <mat-form-field class="everything-fields-line">
                    <input matInput #message maxlength="256" placeholder="Ex: COVID-19">
                    <mat-hint class="hint" align="end">{{message.value.length}} / 256</mat-hint>
                </mat-form-field>
                <mat-form-field class="everything-fields-line">
                    <mat-label>News Category</mat-label>
                    <mat-select class="everything-fields-line">
                        <mat-option value="red">business</mat-option>
                        <mat-option value="green">entertainment</mat-option>
                        <mat-option value="blue">general</mat-option>
                        <mat-option value="blue">health</mat-option>
                        <mat-option value="blue">science</mat-option>
                        <mat-option value="blue">sports</mat-option>
                        <mat-option value="blue">technology</mat-option>
                    </mat-select>
                    <button mat-fab class="search-button everything-fields-line"
                        aria-label="icon button with a search icon">
                        <mat-icon class="search-icon">search</mat-icon>
                    </button>
                </mat-form-field>

            </form>
        </div>
    </mat-toolbar-row>
</mat-toolbar>